********************************************************************************
** STAND IDENTIFICATION
********************************************************************************
STDIDENT
{{stand_id}}

DATABASE
DSNIN
FVS_Data.db

DSNOUT
FVS_Data.db

STANDSQL
SELECT *
FROM fvs_standinit
WHERE stand_id = '%StandID%'
ENDSQL

TREESQL
SELECT *
FROM fvs_treeinit
WHERE stand_id = '%StandID%'
ENDSQL

END

********************************************************************************
** DATABASE Outputs
** Define database settings for FVS output.
********************************************************************************
DATABASE

** OUTPUT DB TABLES
ATRTLIDB           2         2
BURNREDB           2
CALBSTDB           2
CARBREDB           2
*CLIMREDB
COMPUTDB
CUTLIDB           2         2
DWDCVDB           2
DWDVLDB           2
ECONRPTS           2         2
FUELREDB           2
FUELSOUT           2
INVSTATS
*MISRPTS            2
MORTREDB           2         2
POTFIRDB           2
*RDBBMORT
*RDDETAIL
*RDSUM
REGREPTS
SNAGOUDB           2         2
SNAGSUDB           2
STRCLSDB           2
SUMMARY            2
TREELIDB           2         2

END

********************************************************************************
** FVS OUTPUTS
** Define the FVS output tables (not necessarily database outputs)
********************************************************************************
CALBSTAT
TREELIST           0
CUTLIST            0
ATRTLIST           0
STRCLASS           0
STATS           0.05

* Tables generated by the Fire and Fuels Extension
FMIN
CARBREPT
CARBCUT
CANFPROF
FUELOUT
DWDCVOUT
DWDVLOUT
FUELREPT
MORTREPT
POTFIRE
SNAGSUM
SNAGOUT
END

********************************************************************************
** SIMULATION CONFIGURATION
********************************************************************************

********************************************************************************
** MODEL PERIOD CONFIGURATION
** Define step size, number of cycles, etc.
********************************************************************************
TIMEINT            0{{"{:>10d}".format(cycle_length)}}
{% if first_cycle_length is defined -%}
TIMEINT            1{{"{:>10d}".format(first_cycle_length)}}
{%- endif %}
NUMCYCLE  {{"{:>10d}".format(num_cycles)}}


********************************************************************************
** SDIMAX SETTINGS
********************************************************************************
{{sdimax | default("*NO SDIMAX KEYWORDS ADDED", true)}}

********************************************************************************
** GROWTH MODIFIERS
********************************************************************************
{{growth_modifiers | default("*NO GROWTH MODIFIERS ADDED", true)}}

********************************************************************************
** MORTALITY MODIFIERS
********************************************************************************
{{mortality_modifiers | default("*NO MORTALITY MODIFIERS ADDED", true)}}

********************************************************************************
** VOLUME SETTINGS
********************************************************************************
{{volume | default("*NO VOLUME KEYWORDS ADDED", true)}}

********************************************************************************
** ECONOMIC SETTINGS
********************************************************************************
{{econ | default("*NO ECON KEYWORDS ADDED", true)}}

********************************************************************************
** MANAGEMENT TREATMENTS
********************************************************************************
{{treatment | default("*NO MANAGEMENT PRESCRIPTION ADDED", true)}}

********************************************************************************
** NATURAL DISTURBANCES
********************************************************************************
{{disturbance | default("*NO DISTURBANCE ADDED", true)}}

PROCESS
STOP